body{
    margin: 0 auto;
    font-family: futur;
}
.back_index{
    margin: 0 auto;
    max-width: 1440px;
    background-image: url("../images/woman-438434_1920.png");
    background-repeat: no-repeat;
    background-position: right top;
}
header{
    position: sticky;
    margin: 0 auto;
    margin-bottom: 160px;
    font-family: futur;
    max-width: 1440px;
    max-height: 115px;
    color:#494949;
    line-height: 22px;
    font-size: 17px;
}
.menu__container{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    margin: 0 auto;
    max-width: 1024px;
    border-bottom: 1px solid #F1F3F2;
}
.logo-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    font-size: 26px;
}
.logo-arroy {
    display: flex;
    align-items: center;
    width: 15%;
}
.my__interests{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}
.my__interests ul{
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.my__interests ul li {
    padding: 10px;
    font-size: 16px;
}
.my__interests a{
    text-decoration-color: red;
    color: black;
}
.my__interests a:active{
    text-decoration-color: red;
    color: blue;
}
.my__interests a:hover{

    text-decoration-color: red;
    text-decoration: line-through;

}
.main__info{
    margin: 0 auto;
    margin-left: 5%;
    max-width: 1440px;
    margin-bottom: 240px;
}
.greetings{
    font-family: playfair;
    font-size: 68px;
    max-width: 50%;
    margin-bottom: 30px;
}
.greetings__comments p{
    font-family: futur;
    max-width: 30%;
    font-size: 18px;
}
footer{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.my__info{
    font-family: futur;
    margin: 0 auto;

}
.my__info ul{
    display: flex;
    justify-content: center;
}
.my__info ul li{
    line-height: 22px;
    font-size: 18px;
    margin: 0 35px;
    color: #494949;
    list-style-type: disc;
}
